<launch>
  <param name="use_sim_time" value="true"/>
  
  <!-- ARGUMENTS -->
  <arg name="kbd_teleop" default="false"/>
  <arg name="rqt_teleop" default="false"/>
  <arg name="scene_file" default="$(find navigation_challenge)/scenarios/maze_scene.xml"/>
  <arg name="world_name" default="$(find navigation_challenge)/worlds/maze_scene.world"/> 
  <!-- <arg name="world_name" default="$(find gazebo_ros)/worlds/empty.world"/> -->
  <arg name="default_queue_size" default="10"/>
  <arg name="max_robot_speed" default="1.5"/>
  <arg name="robot_mode" default="1"/>
  <arg name="enable_groups" default="true"/>
  
  <arg name="pose_initial_x" default="0.0"/> 
  <arg name="pose_initial_y" default="0.0"/>
  <arg name="pose_initial_theta" default="0.0"/>
  <arg name="simulation_factor" default="1.0"/> 
  <arg name="update_rate" default="25.0"/>

  <arg name="maze_width" default="6"/>
  <arg name="maze_height" default="6"/>
  <arg name="generate_maze" default="true"/>
  <arg name="visualize" default="false"/>
  <arg name="gui" default="true" doc="Bring up the Gazebo graphical interface"/>
  <arg name="launch_gazebo" default="true"/>

  <!-- Gazebo con mondo generato automaticamente -->
  <group if="$(arg launch_gazebo)">
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" value="$(arg gui)"/>
        <!-- <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/> -->
    </include>
  </group>
  
  <!-- Genera scenario pedsim -->
  <node pkg="pedsim_gazebo_plugin" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" 
        output="screen">
  </node>

   <!-- Transform per PMB2 - DISABLED: Conflicts with SLAM -->
  <!-- SLAM should handle map->odom transform, not static publisher -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
      args="-1 -1 0 0 0 0 map odom 100"/> -->

  <!-- Teleop -->
  <group if="$(arg kbd_teleop)">
    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
      <remap from="cmd_vel" to="/mobile_base_controller/cmd_vel"/>
    </node>
  </group>

</launch>
