<launch>
  <arg name="laser_model"  default="sick-571"/>
  <arg name="rgbd_sensors"  default="false"/>
  
  <!-- Pedestrian world selection: simple_office, hospital, pal_office -->
  <arg name="ped_world" default="simple_office" 
       doc="Pedestrian world to load: simple_office (8 agents), hospital (18 agents), or pal_office (15 agents)"/>
  
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="public_sim" default="false"/>
  <arg name="recording" default="false"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="extra_gz_model_path" default=""/>
  <arg name="extra_gz_resource_path" default=""/>
  <arg name="simple_sim_model" default="false"/>

  <env name="LC_NUMERIC" value="C" />

  <!-- Launch pedestrian world (modular, switchable) -->
  <include file="$(find navigation_challenge)/launch/pedestrian_world.launch">
    <arg name="world_name" value="$(arg ped_world)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
  <!-- spawn robot in simulation -->
  <group unless="$(arg simple_sim_model)">
    <include file="$(find pmb2_gazebo)/launch/pmb2_spawn.launch">
      <arg name="laser_model" value="$(arg laser_model)"/>
      <arg name="rgbd_sensors" value="$(arg rgbd_sensors)"/>
      <arg name="gzpose" value="$(arg gzpose)"/>
      <arg name="model_name" value="mobile_base"/>
    </include>
  </group>

  <group if="$(arg simple_sim_model)">
    <include file="$(find simple_models_gazebo)/launch/simple_models_spawn.launch">
      <arg name="laser_model" value="$(arg laser_model)"/>
      <arg name="gzpose" value="$(arg gzpose)"/>
      <arg name="model_name" value="mobile_base"/>
      <arg name="robot" value="simple_pmb2"/>
    </include>

    <node name="increase_real_time_factor" pkg="pal_gazebo_worlds" type="increase_real_time_factor" output="screen">
      <param name="real_time_factor" value="6.0"/>
    </node>

  </group>

  <!-- bring up robot -->
  <include file="$(find pmb2_gazebo)/launch/simulation_pmb2_bringup.launch">
    <arg name="public_sim"  value="$(arg public_sim)"/>
    <arg name="simple_sim_model"  value="$(arg simple_sim_model)"/>
  </include>

</launch>
